<div class="alert {{alertset.class}} lighten-4 {{alertset.class}}-text text-darken-2 {{alertset.show}}">
    <span ng-repeat="(key, value) in alertset.msg">{{value}}</span>
</div>
<form class="form-validation ng-invalid ng-invalid-required ng-valid-pattern ng-valid-email ng-dirty ng-valid-parse ng-invalid-validator"
      name="editForm" style="">
    <div class="panel panel-default">
        <div class="panel-heading bg-white" style="background: #000000;">
            <span class="font-bold"><left><font color="white">GANTI PASSWORD - [BackOffice]</font></left></span>
        </div>
        <div class="card-body">
            <div class="panel-body" style="background: #b3e5fc;">
                <div class="form-group">
                    <div class="row row-sm">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <div class="input-field">
                                    <input class="form-control ng-untouched ng-valid-email form-control"
                                           type="password" required="" ng-model="input.old_password" style="">
                                    <label>Password Lama</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <div class="input-field">
                                    <input class="form-control ng-untouched ng-valid-email form-control"
                                           type="password" required="" ng-model="input.new_password" name="password"
                                           tabindex="0" aria-required="false" aria-invalid="false" style="">
                                    <label>Password Baru</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm">
                        <div class="col-sm-12">
                            <div class="md-form-group float-label">
                                <div class="input-field">
                                    <input class="form-control ng-untouched ng-valid-email form-control"
                                           type="password" ui-validate-watch=" 'input.new_password' "
                                           ui-validate=" '$value==input.new_password' "
                                           ng-model="input.new_password_confirmation" required=""
                                           name="password_confirmation"
                                           tabindex="0" aria-required="false" aria-invalid="true" style="">
                                    <span class="" ng-show="editForm.password_confirmation.$error.validator"
                                          aria-hidden="false" style=""
                                          class="glyphicon glyphicon-remove form-control-feedback">Passwords Tidak Sama!</span>
                                    <label>Konfirmasi Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <footer class="panel-footer text-center" style="background: #269abc">
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw blue" ng-click="gantiData()"
                            ng-disabled="editForm.$invalid || process">Simpan
                    </button>
                    <button md-ink-ripple class="md-btn md-raised m-b btn-fw bg-white" ui-sref="app.user"
                            ng-disabled="process">Kembali
                    </button>
                </footer>
            </div>
        </div>
    </div>
</form>