<!--<!— start: PAGE TITLE —>-->
<div ng-controller="PendaftaransEditCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">FORM EDIT JENIS JURUSAN</h1>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>
    <!--<!— end: PAGE TITLE —>
<!— start: FORM VALIDATION —>-->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>

                                    <div class="form-group" ng-class="{'has-error':Form.no_pilihan.$dirty && Form.no_pilihan.$invalid, 'has-success':Form.no_pilihan.$valid}">
                                        <label class="control-label"> No Pilihan <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Name" class="form-control" name="no_pilihan" ng-model="myModel.no_pilihan" required />
                                        <span class="error text-small block" ng-if="Form.no_pilihan.$dirty && Form.no_pilihan.$invalid">First Name is required</span>
                                        <span class="success text-small" ng-if="Form.no_pilihan.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.status.$dirty && Form.status.$invalid, 'has-success':Form.status.$valid}">
                                        <label class="control-label"> Status <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Class" class="form-control" name="status" ng-model="myModel.status" required />
                                        <span class="error text-small block" ng-if="Form.status.$dirty && Form.status.$invalid">First Class is required</span>
                                        <span class="success text-small" ng-if="Form.status.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.jurusans_id.$dirty && Form.jurusans_id.$invalid, 'has-success':Form.jurusans_id.$valid}">
                                        <label class="control-label"> Jurusans_id <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Class" class="form-control" name="jurusans_id" ng-model="myModel.jurusans_id" required />
                                        <span class="error text-small block" ng-if="Form.jurusans_id.$dirty && Form.jurusans_id.$invalid">First Class is required</span>
                                        <span class="success text-small" ng-if="Form.jurusans_id.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.formulirs_id.$dirty && Form.formulirs_id.$invalid, 'has-success':Form.formulirs_id.$valid}">
                                        <label class="control-label"> Formulirs_id <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Class" class="form-control" name="formulirs_id" ng-model="myModel.formulirs_id" required />
                                        <span class="error text-small block" ng-if="Form.formulirs_id.$dirty && Form.formulirs_id.$invalid">First Class is required</span>
                                        <span class="success text-small" ng-if="Form.formulirs_id.$valid">Thank You!</span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <button md-ink-ripple class="btn btn-primary" ng-click="updateData()" ng-disabled="Form.$invalid || process">Simpan</button>
                                    <button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.pendaftarans" ng-disabled="process">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<!— end: FORM VALIDATION —>-->