<!--<!— start: PAGE TITLE —>-->
<div ng-controller="PendaftaransCreateCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">FORM CREATE JENIS JURUSAN</h1>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>
    <!--<!— end: PAGE TITLE —>
<!— start: FORM VALIDATION —>-->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>


                                    <!--<div class="form-group" ng-class="{'has-error':Form.no_pilihan.$dirty && Form.no_pilihan.$invalid, 'has-success':Form.no_pilihan.$valid}">-->
                                    <!--<label class="control-label"> No Pilihan <span class="symbol required"></span></label>-->
                                    <!--<input type="text" placeholder="Enter your No Pilihan" class="form-control" name="no_pilihan" ng-model="myModel.no_pilihan" required />-->
                                    <!--<span class="error text-small block" ng-if="Form.no_pilihan.$dirty && Form.no_pilihan.$invalid">No Pilihan is required</span>-->
                                    <!--<span class="success text-small" ng-if="Form.no_pilihan.$valid">Thank You!</span>-->
                                    <!--</div>-->

                                    <!--<div class="form-group" ng-class="{'has-error':Form.status.$dirty && Form.status.$invalid, 'has-success':Form.status.$valid}">-->
                                    <!--<label class="control-label"> Status <span class="symbol required"></span></label>-->
                                    <!--<input type="text" placeholder="Enter your Status" class="form-control" name="status" ng-model="myModel.status" required />-->
                                    <!--<span class="error text-small block" ng-if="Form.status.$dirty && Form.status.$invalid">Status is required</span>-->
                                    <!--<span class="success text-small" ng-if="Form.status.$valid">Thank You!</span>-->
                                    <!--</div>-->

                                    <div class="form-group"
                                         ng-class="{'has-error':Form.jurusans.$dirty && Form.jurusans.$invalid, 'has-success':Form.jurusans.$valid}">
                                        <label class="control-label">Jurusan <span
                                                class="symbol required"></span></label>
                                        <select md-select-label class="form-control" ng-model="myModel.jurusans"
                                                name="jurusans" ng-options="o as o.nama for o in objjurusan">
                                        </select>
                                        <span class="error text-small block"
                                              ng-if="Form.jurusans.$dirty && Form.jurusans.$invalid">Jurusan is required</span>
                                        <span class="success text-small" ng-if="Form.jurusans.$valid">Thank You!</span>

                            
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">

                                    <button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)"
                                            ng-disabled="Form.$invalid || process">Simpan & Kembali
                                    </button>
                                    <button type="reset" class="btn btn-primary btn-o" ng-disabled="process"
                                            ng-click="form.reset(Form)">Reset
                                    </button>
                                    <button md-ink-ripple class="btn btn-primary btn-o"
                                            ui-sref="app.pendaftarans({id:id})" ng-disabled="process">Kembali
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<!— end: FORM VALIDATION —>-->