<!--<!— start: PAGE TITLE —>-->
<div ng-controller="FormulirsCreateCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">FORM CREATE FORMULIR</h1>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>
    <!--<!— end: PAGE TITLE —>
<!— start: FORM VALIDATION —>-->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>

                                    <div class="form-group" ng-class="{'has-error':Form.asal_sekolah.$dirty && Form.asal_sekolah.$invalid, 'has-success':Form.asal_sekolah.$valid}">
                                        <label class="control-label"> Asal Sekolah <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Asal Sekolah" class="form-control" name="asal_sekolah" ng-model="myModel.asal_sekolah" required />
                                        <span class="error text-small block" ng-if="Form.asal_sekolah.$dirty && Form.asal_sekolah.$invalid">Asal Sekolah is required</span>
                                        <span class="success text-small" ng-if="Form.asal_sekolah.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.n_bi.$dirty && Form.n_bi.$invalid, 'has-success':Form.n_bi.$valid}">
                                        <label class="control-label"> N B.Indonesia <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your N B.Indonesia" class="form-control" name="n_bi" ng-model="myModel.n_bi" required />
                                        <span class="error text-small block" ng-if="Form.n_bi.$dirty && Form.n_bi.$invalid">N B.Indonesia is required</span>
                                        <span class="success text-small" ng-if="Form.n_bi.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.n_mtk.$dirty && Form.n_mtk.$invalid, 'has-success':Form.n_mtk.$valid}">
                                        <label class="control-label"> N MTK <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your N MTK" class="form-control" name="n_mtk" ng-model="myModel.n_mtk" required />
                                        <span class="error text-small block" ng-if="Form.n_mtk.$dirty && Form.n_mtk.$invalid">N MTK is required</span>
                                        <span class="success text-small" ng-if="Form.n_mtk.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.n_ipa.$dirty && Form.n_ipa.$invalid, 'has-success':Form.n_ipa.$valid}">
                                        <label class="control-label"> N IPA <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your N IPA" class="form-control" name="n_ipa" ng-model="myModel.n_ipa" required />
                                        <span class="error text-small block" ng-if="Form.n_ipa.$dirty && Form.n_ipa.$invalid">N IPA is required</span>
                                        <span class="success text-small" ng-if="Form.n_ipa.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.n_ing.$dirty && Form.n_ing.$invalid, 'has-success':Form.n_ing.$valid}">
                                        <label class="control-label"> N B.Inggris <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your N B.Inggris" class="form-control" name="n_ing" ng-model="myModel.n_ing" required />
                                        <span class="error text-small block" ng-if="Form.n_ing.$dirty && Form.n_ing.$invalid">N B.Inggris is required</span>
                                        <span class="success text-small" ng-if="Form.n_ing.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.biodatas_id.$dirty && Form.biodatas_id.$invalid, 'has-success':Form.biodatas_id.$valid}">
                                        <label class="control-label"> Biodatas_id <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Biodatas_id" class="form-control" name="biodatas_id" ng-model="myModel.biodatas_id" required />
                                        <span class="error text-small block" ng-if="Form.biodatas_id.$dirty && Form.biodatas_id.$invalid">Biodatas_id is required</span>
                                        <span class="success text-small" ng-if="Form.biodatas_id.$valid">Thank You!</span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali</button>
                                    <button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">Reset</button>
                                    <button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.formulirs" ng-disabled="process">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<!— end: FORM VALIDATION —>-->