<div class="alert {{alertset.class}} lighten-4 {{alertset.class}}-text text-darken-2 {{alertset.show}}">
    <span ng-repeat="(key, value) in alertset.msg">{{value}}</span>
</div>
<div class="panel panel-default" ng-controller="FormulirCtrl">

    <ul class="breadcrumb bg-white ng-scope">
        <li><a ui-sref="app.biodatas"><span class="ng-scope">Data Biodatas</span></a></li>
        <li class="active">Data Formulir</li>

    </ul>


    <div class="panel-heading bg-white" style="background: #b3c4c7;">
        <span class="font-bold"><left><font color="white">DATA FORMULIR</font></left></span>
    </div>
    <!--<div ng-show="isLoading" layout="row" layout-sm="column" layout-align="space-around">-->
        <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
    <!--</div>-->
    <!--<div ng-show="isLoaded">-->
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8 m-b-xs">

            <span tooltip="Tambah Data" ng-if="batasinput  == 0">
                <a md-ink-ripple ui-sref="app.formulirs-create({id:id})" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-plus-sign"></i></a>
                </span>
            <span tooltip="Refresh data">
                <button md-ink-ripple class="btn btn-sm btn-default" ng-click="refreshData()">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </span>
            <span tooltip="Cetak data">
                <button md-ink-ripple class="btn btn-sm btn-default" ng-click="print()">
                    <i class="glyphicon glyphicon-print"></i>
                </button>
            </span>
                </div>
                <div class="col-sm-4">
                    <div class="input-group pull-right">
                        <input type="text" class="input-sm form-control" placeholder="Search" ng-model="main.term"
                               ng-disabled="disUtamrow.txtCari" ng-enter="getData()">
                <span class="input-group-btn" tooltip="Cari Data">
                    <button md-ink-ripple class="btn btn-sm btn-default" type="button" ng-click="getData()"
                            ng-disabled="main.term ==''">Cari
                    </button>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-2">Asal Sekolah</th>

                    <th class="col-md-1">N B.Indonesia</th>
                    <th class="col-md-1">N MTK</th>
                    <th class="col-md-1">N IPA</th>
                    <th class="col-md-1">N B.Inggris</th>
                    <th class="col-md-2">Biodatas</th>
                    <th class="col-md-2">Validasi Ijazah</th>
                    <th class="col-md-2">Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in dataFormulirs">
                    <td class="col-md-2">{{row.asal_sekolah}}</td>

                    <td class="col-md-1">{{row.n_bi}}</td>
                    <td class="col-md-1">{{row.n_mtk}}</td>
                    <td class="col-md-1">{{row.n_ipa}}</td>
                    <td class="col-md-1">{{row.n_ing}}</td>
                    <td class="col-md-2">{{row.biodatas.nama_lengkap}}</td>
                    <td class="col-md-1"><img src="{{row.foto_ijazah}}"  style="height:2in;width:1.5in;"> </td>
                    <!--<td class="col-md-2">
                        <span ng-if="row.is_lock == '0'" class="label bg-info ng-scope">Draft</span>
                        <span ng-if="row.is_lock == ''" class="label bg-info ng-scope">Draft</span>
                        <span ng-if="row.is_lock == '1' " class="label bg-success ng-scope">Final</span>
                    </td>-->

                    <td class="col-md-2">

                        <a ui-sref="app.pendaftarans({id:row.id})"  md-ink-ripple tooltip="Pendaftaran Data"
                           class="btn btn-sm btn-success" >
                            <i class="glyphicon glyphicon-list"></i>
                        </a>



                        <a ui-sref="app.formulirs-edit({id:row.id})"  md-ink-ripple tooltip="Edit Data"
                           class="btn btn-sm btn-default" >
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <button type="button" ng-click="hapus(row.id)" md-ink-ripple tooltip="Hapus Data"
                                class="btn btn-sm btn-danger" >
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--panel pagination-->
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 text-center-xs" style="margin-top: 27px;">
                    <small>Menampilkan {{from}}-{{to}} dari {{total}} data</small>
                </div>
                <div class="col-sm-8 text-right text-center-xs">
                    <ul class="pagination m-t-none m-b-none">
                        <li tooltip="Halaman Pertama">
                            <button md-ink-ripple class="btn btn-default" type="button" ng-click='firstPage()'
                                    ng-disabled='current_page == 1 || disUtamrow.btnPagging'><i
                                    class="fa fa-angle-double-left"></i></button>
                        </li>
                        <li tooltip="Halaman Sebelumnya">
                            <button md-ink-ripple class="btn btn-default" type="button" ng-click='previousPage()'
                                    ng-disabled='current_page <= 1 || disUtamrow.btnPagging'><i
                                    class="fa fa-angle-left"></i></button>
                        </li>
                        <li tooltip="Halaman Selanjutnya">
                            <button md-ink-ripple class="btn btn-default" type="button" ng-click='nextPage()'
                                    ng-disabled='main.page >= last_page || disUtamrow.btnPagging'><i
                                    class="fa fa-angle-right"></i></button>
                        </li>
                        <li tooltip="Halaman Terakhir">
                            <button md-ink-ripple class="btn btn-default" type="button" ng-click='lastPage()'
                                    ng-disabled='main.page >= last_page || disUtamrow.btnPagging'><i
                                    class="fa fa-angle-double-right"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Base -->
        </div>
    </div>
</div>