<!--<!— start: PAGE TITLE —>-->
<div ng-controller="PostsCreateCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">FORM CREATE POST</h1>
            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>
    <!--<!— end: PAGE TITLE —>
<!— start: FORM VALIDATION —>-->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>

                                    <div class="form-group" ng-class="{'has-error':Form.judul.$dirty && Form.judul.$invalid, 'has-success':Form.judul.$valid}">
                                        <label class="control-label"> Judul <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Name" class="form-control" name="judul" ng-model="myModel.judul" required />
                                        <span class="error text-small block" ng-if="Form.judul.$dirty && Form.judul.$invalid">First Name is required</span>
                                        <span class="success text-small" ng-if="Form.judul.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.gambar.$dirty && Form.gambar.$invalid, 'has-success':Form.gambar.$valid}">
                                        <label class="control-label"> Gambar <span class="symbol required"></span></label>
                                        <input type="text" placeholder="Enter your Class" class="form-control" name="gambar" ng-model="myModel.gambar" required />
                                        <span class="error text-small block" ng-if="Form.gambar.$dirty && Form.gambar.$invalid">First Class is required</span>
                                        <span class="success text-small" ng-if="Form.gambar.$valid">Thank You!</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error':Form.deskripsi.$dirty && Form.deskripsi.$invalid, 'has-success':Form.deskripsi.$valid}">
                                        <label class="control-label"> Deskripsi <span class="symbol required"></span></label>
                                        <input type="deskripsi" placeholder="Enter a valid E-mail" class="form-control" name="deskripsi" ng-model="myModel.deskripsi" required>
                                        <span class="error text-small block" ng-if="Form.deskripsi.$dirty && Form.deskripsi.$error.required">Email is required.</span>
                                        <span class="error text-small block" ng-if="Form.deskripsi.$error.deskripsi">Please, enter a valid deskripsi address.</span>
                                        <span class="success text-small" ng-if="Form.deskripsi.$valid">Thank You!</span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)" ng-disabled="Form.$invalid || process">Simpan</button>
                                    <button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali</button>
                                    <button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">Reset</button>
                                    <button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.posts" ng-disabled="process">Kembali</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<!— end: FORM VALIDATION —>-->