 <div ng-controller="UsersPasswordCtrl">
	<!-- Page Title -->
 	<section id="page-title">
 		<div class="row">
 			<div class="col-sm-8">
 				<h1 class="mainTitle">FORM USERS UPDATE PASSWORD</h1>
 			</div>
 			<div ncy-breadcrumb></div>
 		</div>
 	</section>
 	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
 		{{alert.msg}}
 	</uib-alert>
 	<!-- /end page title -->

 	<!-- Form Validation -->
 	<div class="container-fluid container-fullw bg-white">
 		<div class="row">
 			<div class="col-md-12">
 				<div>
 					<form name="Form">

 						<div class="row">
 							<div class="col-md-12">
 								<fieldset>
 
 									<div class="form-group" ng-class="{'has-error':Form.old_password.$dirty && Form.old_password.$invalid, 'has-success':Form.old_password.$valid}">
 										<label class="control-label"> Password <span class="symbol required"></span></label>
 										<input type="password" placeholder="Enter a Password" class="form-control" name="old_password" ng-model="myModel.old_password" required/>
 										<span class="error text-small block" ng-if="Form.old_password.$dirty && Form.old_password.$error.required">Password is required.</span>
 										<span class="success text-small block" ng-if="Form.old_password.$valid">Ok!</span>
 									</div>
 
 									<div class="form-group" ng-class="{'has-error':Form.new_password.$dirty && Form.new_password.$invalid, 'has-success':Form.new_password.$valid}">
 										<label class="control-label"> Password Baru <span class="symbol required"></span></label>
 										<input type="password" placeholder="Enter a Password" class="form-control" name="new_password" ng-model="myModel.new_password" required/>
 										<span class="error text-small block" ng-if="Form.new_password.$dirty && Form.new_password.$error.required">new password is required.</span>
 										<span class="success text-small block" ng-if="Form.new_password.$valid">Ok!</span>
 									</div>
 
 
 									<div class="form-group" ng-class="{'has-error':Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.compareTo || Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$invalid, 'has-success':Form.new_password_confirmation.$valid}">
 										<label class="control-label"> Konfirmasi Password Baru <span class="symbol required"></span></label>
 										<input type="password" placeholder="Repeat Password" class="form-control" name="new_password_confirmation" ng-model="myModel.new_password_confirmation" compare-to="myModel.new_password" required/>
 										<span class="error text-small block" ng-if="Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.required">Repeat password is required!</span>
 										<span class="error text-small block" ng-if="Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.compareTo">Passwords do not match!</span>
 										<span class="success text-small block" ng-if="Form.new_password_confirmation.$valid">Passwords match!</span>
 									</div>
 
 								</fieldset>
 							</div>
 						</div>
 
 						<div class="row">
 							<div class="col-md-12">
 								<div class="pull-left">
 									<button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali</button>
 									<button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">Reset</button>
 									<button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.users" ng-disabled="process">Kembali</button>
 								</div>
 							</div>
 						</div>
						 
 					</form>
 				</div>
 			</div>
 		</div>
 	</div>
	<!-- /end form validation -->
 </div>
