<!-- start: PAGE TITLE -->
<div ng-controller="UsersCreateCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FORM CREATE USERS</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
		{{alert.msg}}
	</uib-alert>
	<!-- end: PAGE TITLE -->
	<!-- start: FORM VALIDATION -->
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<div>
					<form name="Form">
						<div class="row">
							<div class="col-md-12">
								<fieldset>

									<div class="form-group" ng-class="{'has-error':Form.nama.$dirty && Form.nama.$invalid, 'has-success':Form.nama.$valid}">
										<label class="control-label">
										 Nama <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Nama" class="form-control" name="nama" ng-model="myModel.nama" required />
										<span class="error text-small block" ng-if="Form.nama.$dirty && Form.nama.$invalid">Nama is required</span>
										<span class="success text-small" ng-if="Form.nama.$valid">Thank You!</span>
									</div>
									<div class="form-group" ng-class="{'has-error':Form.telepon.$dirty && Form.telepon.$invalid, 'has-success':Form.telepon.$valid}">
										<label class="control-label">
										 Telepon <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Telepon" class="form-control" name="telepon" ng-model="myModel.telepon" required />
										<span class="error text-small block" ng-if="Form.telepon.$dirty && Form.telepon.$invalid">Telepon is required</span>
										<span class="success text-small" ng-if="Form.telepon.$valid">Thank You!</span>
									</div>

									<div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
										<label class="control-label">
										 Email <span class="symbol required"></span>
									</label>
										<input type="email" placeholder="Enter your Email" class="form-control" name="email" ng-model="myModel.email" required />
										<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">Email is required</span>
										<span class="success text-small" ng-if="Form.email.$valid">Thank You!</span>
									</div>

									<div class="form-group" ng-class="{'has-error':Form.level.$dirty && Form.level.$invalid, 'has-success':Form.level.$valid}">
										<label class="control-label">
										Level <span class="symbol required"></span>
									</label>
										<select class="form-control" name="level" ng-model="myModel.level" required>
										<option value="" disabled selected>Silahkan pilih Level</option>
										<option value="0">Member</option>
										<option value="1">User</option>
									</select>
										<span class="error text-small block" ng-if="Form.level.$dirty && Form.level.$invalid">First Level is required</span>
										<span class="success text-small" ng-if="Form.level.$valid">Thank You!</span>
									</div>

									<div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid, 'has-success':Form.password.$valid}">
										<label class="control-label">
										Password <span class="symbol required"></span>
									</label>
										<input type="password" placeholder="Enter a Password" class="form-control" name="password" ng-model="myModel.password" required/>
										<span class="error text-small block" ng-if="Form.password.$dirty && Form.password.$error.required">Password is required.</span>
										<span class="success text-small block" ng-if="Form.password.$valid">Ok!</span>
									</div>
									<div class="form-group" ng-class="{'has-error':Form.password2.$dirty && Form.password2.$error.compareTo || Form.password2.$dirty && Form.password2.$invalid, 'has-success':Form.password2.$valid}">
										<label class="control-label">
										Repeat Password <span class="symbol required"></span>
									</label>
										<input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="myModel.password2" compare-to="myModel.password"
										 required/>
										<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.required">Repeat password is required!</span>
										<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.compareTo">Passwords do not match!</span>
										<span class="success text-small block" ng-if="Form.password2.$valid">Passwords match!</span>
									</div>



								</fieldset>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-left">
									<button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)" ng-disabled="Form.$invalid || process">Simpan
								</button>
									<button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali
								</button>
									<button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">
									Reset
								</button>
									<button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.users" ng-disabled="process">Kembali
								</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FORM VALIDATION -->