<!--
     |||       ||||        |||       |||     || ||||||||||||  ||||||||||  |||       |||        |||       |||     ||
     ||||     || ||       |||||      ||||    ||      ||       ||          ||||     ||||       |||||      ||||    ||
     || ||   ||  ||      ||   ||     || ||   ||      ||       ||          || ||   || ||      ||   ||     || ||   ||
     ||  || ||   ||     ||     ||    ||  ||  ||      ||       ||||||||||  ||  || ||  ||     ||     ||    ||  ||  ||
     ||   |||    ||    |||||||||||   ||   || ||      ||       ||          ||   |||   ||    |||||||||||   ||   || ||
     ||    |     ||   ||         ||  ||    ||||      ||       ||          ||    |    ||   ||         ||  ||    ||||
    ||||        |||| ||||       |||| ||     |||      ||       |||||||||| ||||       |||| ||||       |||| ||     |||
-->

<!-- Untuk Menampilkan Menu Sidebar Pada Dashboard Admin -->

<!-- Start Menu Navigation -->
<ul class="main-navigation-menu">
    <!-- Menu Dashboard -->
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard"><!-- Link Masuk Halaman Dashboard -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>
	<!-- Menu Formulir -->

	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.formulirs">&lt;!&ndash; Link Masuk Halaman Formulir &ndash;&gt;-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-pencil-alt"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title"> Formulir </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->

	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.formulirs">&lt;!&ndash; Link Masuk Halaman Formulir &ndash;&gt;-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-pencil-alt"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title"> Formulir </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->

	<!-- Menu Biodata -->
	<li ui-sref-active="active">
		<a ui-sref="app.biodatas"><!-- Link Masuk Halaman Biodata -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">

					<span class="title"> Pendaftaran Siswa Baru </span>

					<!--<span class="title"> Biodata </span>-->

				</div>
			</div>
		</a>
	</li>
	<!-- Menu Users -->
	<li ui-sref-active="active">
		<a ui-sref="app.users"><!-- Link Masuk Halaman User -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Users </span>
				</div>
			</div>
		</a>
	</li>
	<!-- Menu Jurusan -->
	<li ui-sref-active="active">
		<a ui-sref="app.jurusans"><!-- Link Masuk Halaman Jurusan -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layers-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Jurusan </span>
				</div>
			</div>
		</a>
	</li>
	<!-- Menu Pendaftaran -->

	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.pendaftarans">&lt;!&ndash; Link Masuk Halaman Jenis Jurusan &ndash;&gt;-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-menu-alt"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title"> Pendaftaran </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->

	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="app.pendaftarans">&lt;!&ndash; Link Masuk Halaman Jenis Jurusan &ndash;&gt;-->
			<!--<div class="item-content">-->
				<!--<div class="item-media">-->
					<!--<i class="ti-menu-alt"></i>-->
				<!--</div>-->
				<!--<div class="item-inner">-->
					<!--<span class="title"> Pendaftaran </span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</a>-->
	<!--</li>-->

	<!-- Menu Post Pemberitahuan -->
	<li ui-sref-active="active">
		<a ui-sref="app.posts"><!-- Link Masuk Halaman Post Pemberitahuan -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Post Pemberitahuan </span>
				</div>
			</div>
		</a>
	</li>

    <li ui-sref-active="active" ng-if="dataUser.level !=0">
    	<a ui-sref="app.users-password"> <!-- Link Ganti Password -->
    		<div class="item-content">
    			<div class="item-media">
    				<i class="ti-id-badge"></i>
    			</div>
    			<div class="item-inner">
    				<span class="title"> Ganti Password </span>
    			</div>
    		</div>
    	</a>
    </li>
<!-- end Navigation Menu -->

</ul>


