<!-- 
   |||       ||||        |||       |||     || ||||||||||||  ||||||||||  |||       |||        |||       |||     ||
   ||||     || ||       |||||      ||||    ||      ||       ||          ||||     ||||       |||||      ||||    ||
   || ||   ||  ||      ||   ||     || ||   ||      ||       ||          || ||   || ||      ||   ||     || ||   ||
   ||  || ||   ||     ||     ||    ||  ||  ||      ||       ||||||||||  ||  || ||  ||     ||     ||    ||  ||  ||
   ||   |||    ||    |||||||||||   ||   || ||      ||       ||          ||   |||   ||    |||||||||||   ||   || ||
   ||    |     ||   ||         ||  ||    ||||      ||       ||          ||    |    ||   ||         ||  ||    ||||
  ||||        |||| ||||       |||| ||     |||      ||       |||||||||| ||||       |||| ||||       |||| ||     |||
-->
<!-- Navbar Header -->
<div class="navbar-header">
  <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle"> <i class="ti-align-justify"></i> </a>
  <a class="navbar-brand" ui-sref="app.dashboard"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/> </a>
  <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed"> <i class="ti-align-justify"></i> </a>
  <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed"> <span class="sr-only">Toggle navigation</span> <i class="ti-view-grid"></i> </a>
</div>
<!-- /end navbar header -->

<!-- Navbar Collapse -->
<div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
  <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
    <!-- User Option Dropdown -->
  	<li class="dropdown current-user" uib-dropdown on-toggle="toggled(open)">
  	  <a href class="dropdown-toggle" uib-dropdown-toggle> <img src="assets/images/avatar-1.jpg" alt="{{user.name}}"> <span class="username">{{dataUser.nama}} <i class="ti-angle-down"></i></i></span> </a>
  	  <ul class="dropdown-menu dropdown-dark">
  	  	<li>
  	  	  <a ui-sref="app.pages.user" translate="topbar.user.PROFILE"> My Profile </a>
  	  	</li>
  	  	<li>
  	  	  <a ui-sref="app.pages.messages" translate="topbar.user.MESSAGES"> My Messages (27) </a>
  	  	</li>
  	  	<li>
  	  	  <a ui-sref="login.lockscreen" translate="topbar.user.LOCKSCREEN"> Lock Screen </a>
  	  	</li>
  	  	<li>
          <a  href="api/logout" translate="topbar.user.LOGOUT"> Log Out </a>				
  	  	</li>
  	  </ul>
  	</li>
  	<!-- /end user option dropdown -->
  </ul>
</div>
<!-- /end navbar collapse -->
